:root {
  --mainColor: rgba(251, 251, 246, 1);
  --mainColor-greener: rgba(246, 253, 249, 1);
  --secondaryColor: rgba(248, 245, 233, 1);
  --secondaryColor-darker: rgba(237, 232, 210, 1);
  --borderColor: #8B999F;
  --boxShadowColor: #778899;
  --textColor: #27373F;
  --textColor-secondary: #578390;
  --textColor-error: #aa452a;
  --textColor-success: #113d28;
}

body {
  font-size: 16px;
  color: var(--textColor);
  background: linear-gradient(
    to right,
    var(--secondaryColor-darker), 
    var(--mainColor-greener) 30%, /* give this part a hint of green/blue */
    var(--mainColor-greener) 70%, /* give this part a hint of green/blue */
    var(--secondaryColor-darker));
}

/* HOME PAGE */

#home-page-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 75vw;
}

#basic-directions-container {
  display: flex;
  justify-content: center;
  font-family: 'source_sans_prolight';
  font-size: 20px;
  margin-bottom: 10px;
  color: black;
}

#content-editable-container {
  display: flex;
  min-height: 20vh;
  border-radius: 5px;
}

.content-editable-div {
  width: 100%;
  height: auto;
  padding: 5px;
  font-family: 'source_sans_prolight';
  text-align: center;
  border-radius: 3px;
  outline: none;
  box-shadow: 0px 0px 3px var(--boxShadowColor);
  background-color: var(--secondaryColor);

  /* white-space: pre-wrap; */

  white-space-collapse: break-spaces;
  text-wrap: wrap;
}

/* BUTTONS */

#alignment-button-container {
  display: flex;
  justify-items: center;
}

.alignment-button, .continue-button, .home-button, .navbar-button {
  display: flex;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 2px var(--boxShadowColor);
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'bebaskai';
  letter-spacing: 2px;
  cursor: pointer;
}

.alignment-button {
  background-color: var(--secondaryColor);
  height: 25px;
  flex: 1 1 0px;
  margin: 10px;
}

.continue-button, .home-button {
  background-color: var(--mainColor-greener);
  flex: 0 0 35px;
  padding: 5px 20px;
  margin: 0;
}

.home-button {
  align-self: stretch;
}

.navbar-button {
  color: var(--textColor);
  padding: 5px 30px;
  background-color: var(--secondaryColor);
  align-self: center;
  font-family: 'source_sans_prolight';
  margin: 0.2rem 1rem;
  font-size: 18px;
}

.alignment-button:hover, .continue-button:hover, .home-button:hover, .navbar-button:hover {
  box-shadow: 0px 0px 5px var(--boxShadowColor);
}



/* ABOUT PAGE and DEV DETAILS PAGE and LOGIN PAGE*/
#about-page-container, #dev-details-page-container, #login-page-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 75vw;
  text-align: center;
  cursor: default;
}

.demo-details-container {
  overflow: hidden;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0px 0px 3px var(--boxShadowColor);
  background-color: var(--secondaryColor);
}

#dev-details-page-container .demo-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#login-page-container .demo-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: center;
  width: 30vw;
}

#about-page-container .demo-text-div {
  min-height: 150px;
}

.page-h1 {
  height: 30px;
  margin: 0 0 10px 0;
  font-family: 'bebaskai', serif;
  font-size: 24px;
  letter-spacing: 5px;
}

#dev-details-page-container a {
  color: var(--textColor);
  font-size: 20px;
  text-decoration: none;
  border: 1px solid transparent;
}

#dev-details-page-container a:hover {
  border: 1px solid var(--borderColor);
  border-radius: 10px;
  background-color: var(--mainColor);
}

#dev-details-page-container .logo {
  height: 6rem;
  width: 6rem;
  padding: 1rem;
  margin: 0.5rem; 
}

#login-page-container #login-directions {
  margin-bottom: 10px;
  text-align: left;
}

#login-page-container .login-input {
  margin-bottom: 15px;
  align-self: stretch;
  border-radius: 5px;
  height: 30px;
  border: none;
  box-shadow: 0px 0px 2px var(--boxShadowColor);
  padding: 5px;
}

#login-page-container .error-text {
  margin-top: 15px;
  color: var(--textColor-error);
}

#login-page-container .success-text {
  margin-bottom: 15px;
  color: var(--textColor-success);
}

/* NAVBAR  and FOOTER */

#navbar {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: 50px;
  box-shadow: 0px 1px 3px var(--boxShadowColor);
  align-items: center;
  margin-bottom: 100px;
  background-color: var(--mainColor);
  font-family: "bebaskai", serif;
}

#footerbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  background-color: var(--secondaryColor);
  box-shadow: 0px -1px 3px var(--boxShadowColor);

  cursor: default;
}

#navbar .title, 
#navbar .page-links-container,
#navbar .sign-in-link-container {
  display: flex;
  height: 100%;
  align-items: flex-end;
  overflow: hidden;
}

#navbar .title {
  grid-column: 1;
  justify-content: left;
  letter-spacing: 5px;
}

#navbar .title a {
  display: inline;
  align-self: center;
}

#navbar .title .titleLetter {
  color: var(--textColor);
}

#navbar .page-links-container {
  grid-column: 2;
  justify-content: center;
  letter-spacing: 2px;
}

#navbar .page-links-container a {
  display: flex;
  align-items: flex-end;
  color: var(--textColor-secondary);
}

#navbar .sign-in-link-container {
  grid-column: 3;
  justify-content: right;
  letter-spacing: 2px;
}

#navbar a {
  margin: 0.2rem 1rem;
  font-size: 22px;
  text-decoration: none;
}

#navbar a:hover {
  color: var(--textColor);
}

#footerbar #created-by {
  justify-self: flex-start;
  margin-left: 20px;
}

#footerbar #created-year {
  justify-self: flex-end;
  margin-right: 20px;
}

/* TITLE */

#navbar .title span.titleLetter:nth-of-type(1),
#navbar .title span.titleLetter:nth-of-type(10) {
  font-size: 18px;
}

#navbar .title span.titleLetter:nth-of-type(2),
#navbar .title span.titleLetter:nth-of-type(9) {
  font-size: 22px;
}

#navbar .title span.titleLetter:nth-of-type(3),
#navbar .title span.titleLetter:nth-of-type(8) {
  font-size: 26px;
}

#navbar .title span.titleLetter:nth-of-type(4) {
  font-size: 32px;
}

#navbar .title span.titleLetter:nth-of-type(5) {
  font-size: 34px;
}

#navbar .title span.titleLetter:nth-of-type(6) {
  font-size: 32px;
}

#navbar .title span.titleLetter:nth-of-type(7) {
  font-size: 29px;
}