:root {
  --mainColor: rgba(251, 251, 246, 1);
  --secondaryColor: rgba(248, 245, 233, 1);
  --borderColor: #8B999F;
  --textColor: #27373F;
  --textColor-secondary: #578390;
}

body {
  font-size: 16px;
  color: var(--textColor);
  background: linear-gradient(to right, var(--secondaryColor), var(--mainColor) 30%, var(--mainColor) 70%, var(--secondaryColor));
}

/* HOME PAGE */

#home-page-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 75vw;
}

#basic-directions-container {
  display: flex;
  justify-content: center;
  font-family: 'source_sans_prolight';
  font-size: 20px;
  margin-bottom: 10px;
  color: black;
}

#content-editable-container {
  display: flex;
  min-height: 20vh;
  border-radius: 5px;
}

#alignment-button-container {
  display: flex;
  justify-items: center;
}

.alignment-button {
  display: flex;
  height: 50px;
  flex: 1 1 0px;
  margin: 10px;
  border-radius: 5px;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'bebaskai';
  letter-spacing: 2px;
  background-color: lightblue;
}

.content-editable-div {
  width: 100%;
  height: auto;
  padding: 5px;
  font-family: 'source_sans_prolight';
  text-align: center;
  border-radius: 3px;
  outline: none;
  box-shadow: 0px 0px 3px lightslategray;
  background-color: var(--secondaryColor);

  /* white-space: pre-wrap; */

  white-space-collapse: break-spaces;
  text-wrap: wrap;
}

/* ABOUT PAGE*/
#about-page-container {
  display: flex;
  margin: 0 auto;
  width: 75vw;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#about-page-container #demo-text-container {
  width: 100%;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0px 0px 3px lightslategray;
  background-color: var(--secondaryColor);
}

#about-page-container .demo-text-div {
  min-height: 150px;
}

/* SHARED STYLES */
.page-h1 {
  height: 30px;
  margin: 0 0 10px 0;
  font-family: 'bebaskai', serif;
  font-size: 24px;
  letter-spacing: 5px;
}

/* NAVBAR */

#navbar {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 50px;
  box-shadow: 0px 1px 3px lightslategray;
  align-items: center;
  margin-bottom: 100px;
  background-color: var(--mainColor);
  font-family: "bebaskai", serif;
}

#navbar .title, 
#navbar .page-links-container {
  display: flex;
  height: 100%;
  align-items: flex-end;
  overflow: hidden;
}

#navbar .title {
  grid-column: 1;
  justify-content: left;
  letter-spacing: 5px;
}

#navbar .page-links-container {
  grid-column: 2;
  justify-content: right;
  letter-spacing: 2px;
}

#navbar a {
  display: flex;
  align-items: flex-end;
  margin: 0 1rem;
  font-size: 22px;
  text-decoration: none;
  color: var(--textColor-secondary);
}

#navbar a:hover {
  color: var(--textColor);
}

/* TITLE */

#navbar .title span.titleLetter {
  color: var(--textColor);
  transition: font-size 1s;
}

#navbar .title.title-style-1 span.titleLetter:nth-of-type(1),
#navbar .title.title-style-1 span.titleLetter:nth-of-type(10) {
  font-size: 18px;
}

#navbar .title.title-style-1 span.titleLetter:nth-of-type(2),
#navbar .title.title-style-1 span.titleLetter:nth-of-type(9) {
  font-size: 22px;
}

#navbar .title.title-style-1 span.titleLetter:nth-of-type(3),
#navbar .title.title-style-1 span.titleLetter:nth-of-type(8) {
  font-size: 26px;
}

#navbar .title.title-style-1 span.titleLetter:nth-of-type(4) {
  font-size: 32px;
}

#navbar .title.title-style-1 span.titleLetter:nth-of-type(5) {
  font-size: 38px;
}

#navbar .title.title-style-1 span.titleLetter:nth-of-type(6) {
  font-size: 32px;
}

#navbar .title.title-style-1 span.titleLetter:nth-of-type(7) {
  font-size: 29px;
}

#navbar .title.title-style-2 span.titleLetter:nth-of-type(even) {
  font-size: 20px;
}

#navbar .title.title-style-2 span.titleLetter:nth-of-type(odd) {
  font-size: 30px;
}

#navbar .title.title-style-3 span.titleLetter:nth-of-type(3n) {
  font-size: 12px;
}

#navbar .title.title-style-3 span.titleLetter:nth-of-type(3n + 1) {
  font-size: 24px;
}

#navbar .title.title-style-4 span.titleLetter:nth-of-type(4n) {
  font-size: 25px;
}

#navbar .title.title-style-4 span.titleLetter:nth-of-type(4n + 1) {
  font-size: 21px;
}

#navbar .title.title-style-4 span.titleLetter:nth-of-type(4n + 2) {
  font-size: 18px;
}

#navbar .title.title-style-5 span.titleLetter:nth-of-type(5n - 2) {
  font-size: 20px;
}

#navbar .title.title-style-5 span.titleLetter:nth-of-type(5n - 1) {
  font-size: 28px;
}

#navbar .title.title-style-5 span.titleLetter:nth-of-type(5n) {
  font-size: 38px;
}

#navbar .title.title-style-5 span.titleLetter:nth-of-type(1) {
  font-size: 30px;
}
